body {
  margin: 0;
  line-height: 1.6;
}
*,
*::before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1110px;
  margin: 5px auto;
  height: 818px;
  min-height: 100vh;
  padding: -24px 0 0 0;
}
.page {
  overflow: hidden;
}
.intro {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;
  background: url("../img/fon1.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/*header*/
.header {
  max-width: 1920px;
  height: 900px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_inner {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header_text {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
}
.header_number {
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 19.5px;
}
/*nav*/
.nav {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 13px auto;
  font-size: 16px;
}
.nav_link {
  padding: 12px 90px;
  border-right: 1px solid #ffffff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: rgb(0, 204, 255);
  transition: color 0.2s linear;
}
.nav_link:last-child {
  border-right: 0;
}
.btn {
  text-align: center;
}
.button {
  margin: 30px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  background-color: #99862a;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #fff;
}
.button:hover {
  border: 2px solid rgb(12, 170, 162);
}
.button_margin {
  display: flex;
  margin: -54px 0;
}
.button_margin::after {
  content: "";
  display: block;
  border-bottom: 1px solid #998431;
  width: 1110px;
  margin: 160px -35px;
  position: absolute;
}
.gg {
  margin: 2px 4px;
}
/*Вторая стр*/
.section {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-color: #282828;
  height: 856px;
}
.container_border {
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  padding: 100px 15px;
}
.section_inner {
  padding: 50px auto;
  display: block;
  width: 1110px;
  height: 656px;
  border: 1px solid #fff;
}
.section_title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 60px;
  color: #fff;
}
.section_title::after {
  content: "";
  display: block;
  border: 2px solid #fff;
  width: 160px;
  height: 3px;
  margin: 60px auto;
  opacity: 0.4;
}
.section_text {
  width: 736px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 60px auto;
  color: #fff;
  opacity: 0.8;
}
.section_img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 100px auto;
}
.section_img img {
  margin: -66px 472px;
  width: 160px;
  height: 160px;
  position: absolute;
  display: block;
  max-width: 100%;
}
/*Третья стр*/
.third_section {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  height: 1038px;
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../img/fon3.png) center no-repeat;
}
.inner {
  flex-wrap: wrap;
  display: flex;
  margin: 0 -15px;
  border-top: 1px solid #99862a;
}
h3 {
  line-height: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 30px;
}
h1 {
  display: block;
  width: 298px;
  height: 108px;
  font-size: 36px;
  line-height: 54px;
  color: black;
  font-family: "Playfair Display", serif;
}
h1::after {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background-color: #282828;
  margin-top: 30px;
  opacity: 0.5;
}
.paragraph {
  display: block;
  width: 469px;
  height: 84px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  margin: 60px 0;
  opacity: 0.8;
}
.paragraph--margin {
  margin: 70px 0;
}
.colli {
  font-size: 18px;
  line-height: 44px;
  color: #282828;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: -13px 0 0 94px;
  width: 303px;
  height: 27px;
}
.table {
  display: block;
  width: 445px;
  height: 228px;
  margin: -36px 0;
}
.year {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  margin: 0 52px 0 17px;
}
.year--border {
  position: absolute;
  content: "";
  display: block;
  border-right: 1px solid #282828;
  width: 60px;
  height: 310px;
  opacity: 0.9;
}
.textt {
  font-size: 14px;
  line-height: 21px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  margin: 6px 0px 40px 94px;
  width: 285px;
  height: 21px;
}
.text--border {
  font-size: 14px;
  line-height: 21px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  margin: 24px 0px 40px 94px;
  width: 285px;
  height: 21px;
}
.table_item::after {
  content: "";
  display: block;
  width: 445px;
  height: 1px;
  background-color: #282828;
  margin: -33px 43px 10px 7px;
}
.page_itens {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.items {
  width: 50%;
}
.items_img {
  display: flex;
  flex-wrap: wrap;
}
.big_img {
  display: block;
  max-width: 100%;
  height: 500px;
  width: 540px;
  margin: 56px 30px;
}
.images {
  justify-content: center;
  margin: -9px 0 0 12px;
}
.img {
  width: 100%;
  max-width: 255px;
  height: 228px;
  margin-left: 20px;
}
.buttonn {
  margin: 45px 0;
}
/*Четвертая стр*/
.section_end {
  background-color: #282828;
  height: 100%;
  padding: 100px 0;
}
.container_end {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.container_inner {
  position: relative;
  width: 100%;
  border: 3px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 80px;
}
.section_header {
  position: relative;
  width: 100%;
  max-width: 510px;
  margin: 0 auto 40px;
  text-align: center;
}
.title_deg {
  color: #fff;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  display: block;
  padding-top: 70px;
}

.title_deg:after {
  content: "";
  display: block;
  width: 118px;
  height: 2px;
  background-color: #fff;
  margin: 40px auto;
}
.text_p {
  display: block;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding-top: 15px;
}
.image_left {
  display: block;
  position: absolute;
  top: -43px;
  left: -102px;
  z-index: 1;
  right: 0;
}
.image_left::after {
  content: "";
  display: block;
  width: 118px;
  height: 2px;
  background-color: #fff;
  margin: 40px auto;
}
.image_right {
  display: block;
  position: absolute;
  top: -33px;
  left: auto;
  right: -115px;
  z-index: 1;
}
.contacts {
  width: 1085px;
}
.contacts_item {
  width: 590px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 50px;
}
.name {
  background-color: #282828;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.phone_number {
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: #282828;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 5px;
}

.address {
  width: 554px;
  margin: 40px auto;
}
.address_item {
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: #282828;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 523px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 10px;
}
.address_name {
  font-size: 18px;
  margin: 30px 70px;
}
.button_reg {
  color: #fff;
  margin: 0 auto;
  padding-top: 30px;
  display: block;
  width: 50%;
  padding: 15px 0;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
